@import url('@doc-editor/core/style.css');

/* Default theme params */
.container {
    --colors-editor-text: #3f3f3f;
    --colors-editor-background: #ffffff;
    --colors-menu-text: #3f3f3f;
    --colors-menu-background: #ffffff;
    --colors-tooltip-text: #3f3f3f;
    --colors-tooltip-background: #efefef;
    --colors-hovered-text: #3f3f3f;
    --colors-hovered-background: #efefef;
    --colors-selected-text: #ffffff;
    --colors-selected-background: #3f3f3f;
    --colors-disabled-text: #afafaf;
    --colors-disabled-background: #efefef;

    --colors-shadow: #cfcfcf;
    --colors-border: #efefef;
    --colors-side-menu: #cfcfcf;

    --colors-highlights-gray-text: #9b9a97;
    --colors-highlights-gray-background: #ebeced;
    --colors-highlights-brown-text: #64473a;
    --colors-highlights-brown-background: #e9e5e3;
    --colors-highlights-red-text: #e03e3e;
    --colors-highlights-red-background: #fbe4e4;
    --colors-highlights-orange-text: #d9730d;
    --colors-highlights-orange-background: #f6e9d9;
    --colors-highlights-yellow-text: #dfab01;
    --colors-highlights-yellow-background: #fbf3db;
    --colors-highlights-green-text: #4d6461;
    --colors-highlights-green-background: #ddedea;
    --colors-highlights-blue-text: #0b6e99;
    --colors-highlights-blue-background: #ddebf1;
    --colors-highlights-purple-text: #6940a5;
    --colors-highlights-purple-background: #eae4f2;
    --colors-highlights-pink-text: #ad1a72;
    --colors-highlights-pink-background: #f4dfeb;

    --font-family: 'SF Pro Display', -apple-system, BlinkMacSystemFont, 'Open Sans', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
        'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    --border-radius: 6px;

    /* Derived values */
    --shadow-medium: 0 4px 12px var(--colors-shadow);
    --shadow-light: 0 2px 6px var(--colors-border);
    --border: 1px solid var(--colors-border);
    --border-radius-small: max(var(--border-radius) - 2px, 1px);
    --border-radius-medium: var(--border-radius);
    --border-radius-large: max(var(--border-radius) + 2px, 1px);
}

.container[data-color-scheme='dark'] {
    --colors-editor-text: #cfcfcf;
    --colors-editor-background: #1f1f1f;
    --colors-menu-text: #cfcfcf;
    --colors-menu-background: #1f1f1f;
    --colors-tooltip-text: #cfcfcf;
    --colors-tooltip-background: #161616;
    --colors-hovered-text: #cfcfcf;
    --colors-hovered-background: #161616;
    --colors-selected-text: #cfcfcf;
    --colors-selected-background: #0f0f0f;
    --colors-disabled-text: #3f3f3f;
    --colors-disabled-background: #161616;

    --colors-shadow: #0f0f0f;
    --colors-border: #161616;
    --colors-side-menu: #7f7f7f;

    --colors-highlights-gray-text: #bebdb8;
    --colors-highlights-gray-background: #9b9a97;
    --colors-highlights-brown-text: #8e6552;
    --colors-highlights-brown-background: #64473a;
    --colors-highlights-red-text: #ec4040;
    --colors-highlights-red-background: #be3434;
    --colors-highlights-orange-text: #e3790d;
    --colors-highlights-orange-background: #b7600a;
    --colors-highlights-yellow-text: #dfab01;
    --colors-highlights-yellow-background: #b58b00;
    --colors-highlights-green-text: #6b8b87;
    --colors-highlights-green-background: #4d6461;
    --colors-highlights-blue-text: #0e87bc;
    --colors-highlights-blue-background: #0b6e99;
    --colors-highlights-purple-text: #8552d7;
    --colors-highlights-purple-background: #6940a5;
    --colors-highlights-pink-text: #da208f;
    --colors-highlights-pink-background: #ad1a72;
}

.container {
    font-family: var(--font-family);
}

/* Editor body styling */

/* Editor styling */
.editor {
    background-color: var(--colors-editor-background);
    border-radius: var(--border-radius-large);
    color: var(--colors-editor-text);
}

/* Custom block node view wrapper styling */
.react-node-view-renderer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* Indent line styling */
.block-group .block-group .block-outer:not([data-prev-depth-changed])::before {
    border-left: 1px solid var(--colors-side-menu);
}

/* Placeholder styling */
.inline-content:has(> .ProseMirror-trailingBreak):before {
    color: var(--colors-side-menu);
}

/* Color Icon styling */
.container .color-icon {
    align-items: center;
    border: var(--border);
    border-radius: var(--border-radius-small);
    display: flex;
    justify-content: center;
}

/* Error text styling */
.error-text {
    color: red;
    font-size: 12px;
}

/* Highlight color styling */
[data-text-color='gray'] {
    color: var(--colors-highlights-gray-text);
}

[data-text-color='brown'] {
    color: var(--colors-highlights-brown-text);
}

[data-text-color='red'] {
    color: var(--colors-highlights-red-text);
}

[data-text-color='orange'] {
    color: var(--colors-highlights-orange-text);
}

[data-text-color='yellow'] {
    color: var(--colors-highlights-yellow-text);
}

[data-text-color='green'] {
    color: var(--colors-highlights-green-text);
}

[data-text-color='blue'] {
    color: var(--colors-highlights-blue-text);
}

[data-text-color='purple'] {
    color: var(--colors-highlights-purple-text);
}

[data-text-color='pink'] {
    color: var(--colors-highlights-pink-text);
}

[data-background-color='gray'] {
    background-color: var(--colors-highlights-gray-background);
}

[data-background-color='brown'] {
    background-color: var(--colors-highlights-brown-background);
}

[data-background-color='red'] {
    background-color: var(--colors-highlights-red-background);
}

[data-background-color='orange'] {
    background-color: var(--colors-highlights-orange-background);
}

[data-background-color='yellow'] {
    background-color: var(--colors-highlights-yellow-background);
}

[data-background-color='green'] {
    background-color: var(--colors-highlights-green-background);
}

[data-background-color='blue'] {
    background-color: var(--colors-highlights-blue-background);
}

[data-background-color='purple'] {
    background-color: var(--colors-highlights-purple-background);
}

[data-background-color='pink'] {
    background-color: var(--colors-highlights-pink-background);
}

/* Matching Side Menu height to block line height */
.side-menu {
    height: 30px;
}

.side-menu[data-block-type='heading'][data-level='1'] {
    height: 78px;
}

.side-menu[data-block-type='heading'][data-level='2'] {
    height: 54px;
}

.side-menu[data-block-type='heading'][data-level='3'] {
    height: 37px;
}

.side-menu[data-block-type='file'] {
    height: 38px;
}

.side-menu[data-block-type='audio'] {
    height: 60px;
}

.side-menu[data-url='false'] {
    height: 54px;
}
